body {
background-color: #a02186;
font-family:Arial, sans-serif;
}
h1 {
color:blue;
text-align: center
}
P {
color: rgb(46, 13, 99);
font-size: 20px;
line-height: 1.5;
}
li {color:red;
font-size: 15px;}
li {color: black
    
    ;}
.box{
 height: 100px;
 width: 100px; 
 float: left;
 text-align: center  
}
#info1 {
    background-color: rgb(225, 255, 0);
}
#info2 {
    background-color: rgb(0, 255, 255);
}
#info3 {
    background-color: rgb(0, 2, 128) ;
}
.my_button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s;
}
.my_button:hover {
    background-color: #b30009;
}
.my_button:active {
    background-color: #098500;
    transform: scale(0.95);
}